@keyframes slide-down{
  0%{transform:scale(1,0);}
  100%{transform:scale(1,1);}
}

@-webkit-keyframes slide-down{
  0%{-webkit-transform:scale(1,0);}
  100%{-webkit-transform:scale(1,1);}
}

.show {
  max-height: 114px;
  transition: max-height .3s ease-in;
  transform-origin: 50% 0;
  animation: slide-down 0.3s ease-in;
  -webkit-animation: slide-down 0.3s ease-in;
}

.hidden {
  max-height: 0px;
  overflow: auto;
  transition: max-height .3s ease-out;
}
.homeContainer{
  font-size: 24px;
  color: azure;
  width: 100%;
  height: 100%;
  position: relative;
  .slideUp {
    position: fixed;
    bottom: -37vh;
    width: 100%;
    height: 40vh;
    box-sizing: border-box;
    z-index: 1;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    background-color: rgba(255,255,255,0.4);
    border-radius: 2px;
    cursor: pointer;
    .arrow{
      width: 30px;
      height: 30px;
      position: absolute;
      left: 50%;
      top: 0%;
      transform: translateX(-50%);
      color: #5b65ad;
      opacity: 1;
    }
    .content{
      position: absolute;
      top: 30px;
    }
  }
  .banner {
    display: flex;
    justify-content: space-around;
    align-content: center;
    font-size: 1.25rem;
    height: 100%;
    width: 100%;
    text-align: center;
    border-radius: px2Rem(10px);
    background-color: rgba(0,0,0,.3);
    .author{
      width: 40%;
      padding: 60px;
      .title{
        height: 10%;
        font-size: 40px;
        font-weight: bold;
        color: white;
      }
    }
    .intro{
      padding: 60px;
      width: 60%;
      font-size: 30px;
      position: relative;
      .content{
        font-size: 30px;
        text-align: left;
      }
      .explore{
        position: absolute;
        bottom: 20px;
      }
    }
  }
  .ant-spin-spinning{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    .ant-spin-dot-spin{
      .ant-spin-dot-item{
        background: antiquewhite;
      }
    }
    .ant-spin-text{
      color: antiquewhite;
      font-weight: bold;
    }
  }
  .mapCard {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.25rem;
    height: 80%;
    width: 90%;
    border-radius: 10px;
    margin-right: 20px;
  }
  .charts{
    width: 50%;
    margin-right: 8%;
    background-color: rgba(0,0,0,.3);
    color: white;
    .title{
      text-align: left;
      font-weight: bold;
    }
  }

  .card {
    font-size: 1.25rem;
    height: 10rem;
    width: 25%;
    text-align: center;
    border-radius: px2Rem(10px);
  }

  .parallax {
    margin-right: 15%;
  }

  .sticky {
    margin-left: 5%;
    height: 70%;
    width: 30%;
    background-color: rgba(0,0,0,.3);
  }

}

.blue {
  background-color: #5b65ad;
  color: white;
}

.greenyellow {
  background-color: greenyellow;
}

.white {
  background-color: white;
}

.purple {
  background-color: #9d65d0;
  color: white;
}

@media (max-width: 750px) {
  .card {
    width: 40%;
  }

  .parallax {
    margin-right: 1.5rem;
  }

  .sticky {
    margin-left: 1.5rem;
  }
}
