.homeContainer{
  font-size: 24px;
  color: azure;
  width: 100%;
  height: 100%;
  position: relative;
  .ant-spin-spinning{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    .ant-spin-dot-spin{
      .ant-spin-dot-item{
        background: antiquewhite;
      }
    }
    .ant-spin-text{
      color: antiquewhite;
      font-weight: bold;
    }
  }
  .banner {
    display: flex;
    justify-content: space-around;
    align-content: center;
    font-size: 1.25rem;
    height: 100%;
    width: 100%;
    text-align: center;
    border-radius: px2Rem(10px);
    background-color: rgba(0,0,0,.3);
    .author{
      width: 40%;
      padding: 60px;
      .authorList{
        padding-left: 30px;
        li{
          height: 40px;
          line-height: 40px;
          padding-left: 60px;
          list-style: circle;
          text-align: left;
          font-size: 30px;
        }

      }
    }
    .intro{
      padding: 60px;
      width: 60%;
      .content{
        font-size: 30px;
        text-align: left;
      }
    }
  }
  .mapCard {
    font-size: 1.25rem;
    height: 80%;
    width: 60%;
    border-radius: 10px;
    margin-right: 20px;
  }

  .card {
    font-size: 1.25rem;
    height: 10rem;
    width: 25%;
    text-align: center;
    border-radius: px2Rem(10px);
  }

  .parallax {
    margin-right: 15%;
  }

  .sticky {
    margin-left: 5%;
    height: 70%;
    width: 30%;
    background-color: rgba(0,0,0,.3);
  }

}

.title{
  font-size: 40px;
  font-weight: bold;
  color: white;
}

.blue {
  background-color: #5b65ad;
  color: white;
}

.greenyellow {
  background-color: greenyellow;
}

.purple {
  background-color: #9d65d0;
  color: white;
}

@media (max-width: 750px) {
  .card {
    width: 40%;
  }

  .parallax {
    margin-right: 1.5rem;
  }

  .sticky {
    margin-left: 1.5rem;
  }
}
